
<h1>My tasks</h1>

<%= link_to "Create a task!", new_task_path%>

<ul>
<% @tasks.each do |task| %>
  <li>
    <%= task.completed ? "DONE" : "NOT DONE"%>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "DELETE",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>
